/*.navbar-nav > li{
	border-right: 1px solid #fff;
}

.navbar-nav .dropdown .shiny-html-output{
	color: #fff;
	font-size: 20px;
	text-align: center;
	line-height: 50px;
	margin: 0 5px;
}


.navbar-nav .dropdown .shiny-html-output p{
	margin: 0 5px;
}

.navbar-nav .dropdown .shiny-html-output i{
	color: #fff;
}*/